<div class="contents__container">
    <div class="req__container">
      <h5 class="tertiary__text">Let's go treature-hunting</h5>
      <p class="tertiary-paragraph">
        Join the World's best auctions for on-of-a kind art, antiques &
        luxury goods
      </p>
      <div class="login_start">
        <input
          type="search"
          name="searchItem"
          id="search_item"
          class="search_item"
          placeholder="Enter your email to join"
        />
        <h6 class="quadriple_text">Join</h6>
      </div>
    </div>
  </div>
  <div class="contents__encouragement">
    <div class="auction__list--places">
      <a href="#" class="trending_auction card">
        <div class="texts">
          <h5 class="quadriple__text">Trending Auctions</h5>
          <p class="quadriple-paragraph">
            Click to see popular auction that contains thousands of items
            being auctioned daily.
          </p>
        </div>
        <img src="/img/trending.png" alt="" />
      </a>
      <a href="#" class="trending_auction card">
        <div class="texts">
          <h5 class="quadriple__text">Auctions Near you</h5>
          <p class="quadriple-paragraph">
            Click to see popular auction Near in district or select
            accordingly to your need
          </p>
        </div>
        <img src="/img/near_you.png" alt="" />
      </a>
      <a href="#" class="trending_auction card">
        <div class="texts">
          <h5 class="quadriple__text">Learn how to bid</h5>
          <p class="quadriple-paragraph">
            Click to see popular auction courses to teach you how to bid.
          </p>
        </div>
        <img src="./public/img/learning.png" alt="" />
      </a>
    </div>