<%- include('partials/fullHeader'); -%>

<div class="error_page">
  <h6 class="main_error">
    Something went wrong, Please refresh or wait just few minutes
  </h6>
</div>

<%- include('partials/footer'); -%>
