<%- include('partials/header'); -%>

<section class="login_section" style="height: 100vh">
  <div class="login_container">
    <div class="login_form">
      <h2 class="tertiary__text">Login Form</h2>
      <p class="tertiary-paragraph">Fill the form to login</p>
      <form class="login_form--form">
        <div class="form-group">
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter full email"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter full password"
          />
        </div>
        <button type="submit" class="btn btn_form">Login</button>
      </form>
      <a href="/forgot_password.html" class="forgot_password"
        >Forgot password</a
      >
      <p class="tertiary-paragraph">
        Don't have an account,
        <a href="/register.html" class="forgot_password"
          >click here to create one.</a
        >
      </p>
    </div>
  </div>
</section>

<script>
  const form = document.querySelector(".login_form--form");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");

  // // Reset errors
  // emailError.textContent = "";
  // passwordError.textContent = "";

  form.addEventListener("click", async (e) => {
    e.preventDefault();
    const email = form.querySelector("#email").value;
    const password = form.querySelector("#password").value;

    // // get the values
    // const email = form.email.value
    // const password = form.password.value

    try {
      const result = await fetch("/api/v1/user/login", {
        method: "POST",
        body: JSON.stringify({
          email,
          password,
        }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await result.json();
      console.log(data);
      // if (data.errors) {
      //   emailError.textContent = data.errors.email;
      //   passwordError.textContent = data.errors.password;
      // }
      if (data.user && data.status) {
        location.assign("/home");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>
<%- include('partials/footer'); -%>
